<!-- Editable table -->
<div class="container">
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" type="button" mdbBtn color="default" class="relative waves-light" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="addNewData()" mdbWavesEffect>
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Invested</th>
          <th class="text-center">Value</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.invested}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.value}}</span>
          </td>
          <td>
            <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" type="button" mdbBtn color="default" class="relative waves-light" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="update(id)" mdbWavesEffect>
          <mdb-icon fas icon="edit" ></mdb-icon>
        </a>
      </span>
          </td>
          <td>
            <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" type="button" mdbBtn color="danger" class="relative waves-light" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="remove(id)" mdbWavesEffect>
          <mdb-icon fas icon="trash-alt" ></mdb-icon>
        </a>
      </span>
          </td>
        </tr>
        <tr>
          <td style = "">
            <span style = "fontweight: bold" contenteditable="true">Total</span>
          </td>
          <td>
            <span contenteditable="false">{{ getTotalInvestedAmount() }}</span>
          </td>
          <td>
            <span contenteditable="false">{{ getTotalValue() }}</span>
          </td>
          <td>
            <span contenteditable="false">{{ getProfitLoss() }}</span>
          </td>
          <td>
            <span contenteditable="false">{{ getProfitLossPercent() }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="example-container mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell contenteditable="true" *matCellDef="let element"> {{element.name}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
    <td mat-cell contenteditable="true" (keyup)="changeValue1(id, 'weight', $event)" (blur)="updateList1(id, 'weight', $event)" *matCellDef="let element"> {{element.weight }} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: false"></tr>
</table>
</div>
</div>
<!-- Editable table -->
<button type="button" mdbBtn color="default" class="relative waves-light" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="frame.show()" mdbWavesEffect>Launch Modal
</button>
<div appendTo="body" mdbModal #frame="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="address-card" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form3" class="form-control" [formControl]="modalName"
                 mdbInput mdbValidate>
          <label for="form3">Your name</label>
          <mdb-error
            *ngIf="modalName.invalid && (modalName.dirty || modalName.touched)">
            Input invalid
          </mdb-error>
        </div>

        <div class="md-form mb-5">
          <mdb-icon fas icon="rupee-sign" class="prefix grey-text"></mdb-icon>
          <input type="number" id="form2" class="form-control" [formControl]="modalInvested"
                 mdbInput mdbValidate>
          <label for="form2">Invested Amount</label>
          <mdb-error
            *ngIf="modalInvested.invalid && (modalInvested.dirty || modalInvested.touched)">
            Input invalid
          </mdb-error>
        </div>

         <div class="md-form mb-5">
          <mdb-icon fas icon="rupee-sign" class="prefix grey-text"></mdb-icon>
          <input type="number" id="form1" class="form-control" [formControl]="modalValue"
                 mdbInput mdbValidate>
          <label for="form1">Total Value</label>
          <mdb-error
            *ngIf="modalValue.invalid && (modalValue.dirty || modalValue.touched)">
            Input invalid
          </mdb-error>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center" *ngIf="!editMode">
        <button mdbBtn color="indigo" class="waves-light" (click)="addData()" [disabled]="modalValue.invalid || modalInvested.invalid || modalName.invalid" mdbWavesEffect>Add
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
      </div>

      <div class="modal-footer d-flex justify-content-center" *ngIf="editMode">
        <button mdbBtn color="indigo" class="waves-light" (click)="updateData()" [disabled]="modalValue.invalid || modalInvested.invalid || modalName.invalid" mdbWavesEffect>Edit
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
      </div>
    </div>
  </div>

</div>

