@media all and (min-width: 768px) {
  tr  {
    td {
      vertical-align: middle !important;
      font-weight: 600;
    }
    span {
      &:not([class]) {
        padding: 1rem 1rem;
      }
    }
  }
}

th{
  font-weight: 900
}

td{
  font-weight: 100
}

th.mat-sort-header-sorted {
  color: black;
}

tr.mat-footer-row {
  font-weight: 900;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.success{
  background-color: greenyellow;
}

.danger {
  background-color: red;
}

.table th, .table td {
  padding: -0.25rem;
}
