<div class="container">
  <div class="row">
  <div class="col">
    <div class="w-auto p-3">
<mdb-card cascade="true" narrower="true" class="aqua-gradient">
  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
      <button mdbBtn color="white" (click)="addNewData()" outline="true" rounded="true" size="sm" type="button" class="px-2" mdbWavesEffect>ADD
        <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
      </button>
    </div>

    <a href="" class="white-text mx-3">STOCKS</a>

    <div>

      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas icon="times" class="mt-0"></mdb-icon>
      </button>

    </div>

  </div>
  <!--/Card image-->

  <div class="px-3 aqua-gradient">
     <button mdbBtn type="button" rounded="true" size="sm" block="true" style="margin-up: -12px; font-weight: 600; font-size: 12px" gradient="purple" mdbWavesEffect>PROFIT/LOSS : {{ getProfitLoss() }} ({{ getProfitLossPercent() }})</button>

    <div class="table-wrapper">
      <!--Table-->
      <table class="mb-0 " mdbTable hover="true">
        <thead >
        <tr >
          <th class="text-center">Name</th>
          <th class="text-center">Invested</th>
          <th class="text-center">Value</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.invested}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.value}}</span>
          </td>
        <a mdbBtn floating="true" size="sm" (click)="update(id)" color="orange" mdbWavesEffect>
          <mdb-icon fas icon="edit" size="0.5x"></mdb-icon>
        </a>

        <a mdbBtn floating="true" size="sm" (click)="remove(id)" color="red" mdbWavesEffect>
          <mdb-icon fas icon="trash-alt" ></mdb-icon>
        </a>

        </tr>
        <tr >
          <td >
            <span  contenteditable="true">Total</span>
          </td>
          <td>
            <span contenteditable="false">{{ getTotalInvestedAmount() }}</span>
          </td>
          <td>
            <span contenteditable="false">{{ getTotalValue() }}</span>
          </td>
        </tr>
        </tbody>
      </table>
      <!--Table-->
    </div>
  </div>
</mdb-card>
</div>
</div>
<div class="col">
<div class="w-auto p-3">
<mdb-card cascade="true" narrower="true" class="aqua-gradient">
  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
      <button mdbBtn color="white" (click)="addNewData()" outline="true" rounded="true" size="sm" type="button" class="px-2" mdbWavesEffect>ADD
        <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
      </button>
    </div>

    <a href="" class="white-text mx-3">STOCKS</a>

    <div>

      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas icon="times" class="mt-0"></mdb-icon>
      </button>

    </div>

  </div>
  <!--/Card image-->

  <div class="px-3 aqua-gradient">
     <button mdbBtn type="button" rounded="true" size="sm" block="true" style="margin-up: -12px; font-weight: 600; font-size: 12px" gradient="purple" mdbWavesEffect>PROFIT/LOSS : {{ getProfitLoss() }} ({{ getProfitLossPercent() }})</button>

    <div class="table-wrapper">
      <!--Table-->
      <table class="mb-0 " mdbTable hover="true">
        <thead >
        <tr >
          <th class="text-center">Name</th>
          <th class="text-center">Invested</th>
          <th class="text-center">Value</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.invested}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.value}}</span>
          </td>
        <a mdbBtn floating="true" size="sm" (click)="update(id)" color="orange" mdbWavesEffect>
          <mdb-icon fas icon="edit" size="0.5x"></mdb-icon>
        </a>

        <a mdbBtn floating="true" size="sm" (click)="remove(id)" color="red" mdbWavesEffect>
          <mdb-icon fas icon="trash-alt" ></mdb-icon>
        </a>

        </tr>
        <tr >
          <td >
            <span  contenteditable="true">Total</span>
          </td>
          <td>
            <span contenteditable="false">{{ getTotalInvestedAmount() }}</span>
          </td>
          <td>
            <span contenteditable="false">{{ getTotalValue() }}</span>
          </td>
        </tr>
        </tbody>
      </table>
      <!--Table-->
    </div>
  </div>
</mdb-card>
</div>
</div>
<div class="col">
<div class="w-auto p-3">
<mdb-card cascade="true" narrower="true" class="aqua-gradient">
  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
      <button mdbBtn color="white" (click)="addNewData()" outline="true" rounded="true" size="sm" type="button" class="px-2" mdbWavesEffect>ADD
        <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
      </button>
    </div>

    <a href="" class="white-text mx-3">STOCKS</a>

    <div>

      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas icon="times" class="mt-0"></mdb-icon>
      </button>

    </div>

  </div>
  <!--/Card image-->

  <div class="px-3 aqua-gradient">
     <button mdbBtn type="button" rounded="true" size="sm" block="true" style="margin-up: -12px; font-weight: 600; font-size: 12px" gradient="purple" mdbWavesEffect>PROFIT/LOSS : {{ getProfitLoss() }} ({{ getProfitLossPercent() }})</button>

    <div class="table-wrapper">
      <!--Table-->
      <table class="mb-0 " mdbTable hover="true">
        <thead >
        <tr >
          <th class="text-center">Name</th>
          <th class="text-center">Invested</th>
          <th class="text-center">Value</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.invested}}</span>
          </td>
          <td>
            <span contenteditable="false" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.value}}</span>
          </td>
        <a mdbBtn floating="true" size="sm" (click)="update(id)" color="orange" mdbWavesEffect>
          <mdb-icon fas icon="edit" size="0.5x"></mdb-icon>
        </a>

        <a mdbBtn floating="true" size="sm" (click)="remove(id)" color="red" mdbWavesEffect>
          <mdb-icon fas icon="trash-alt" ></mdb-icon>
        </a>

        </tr>
        <tr >
          <td >
            <span  contenteditable="true">Total</span>
          </td>
          <td>
            <span contenteditable="false">{{ getTotalInvestedAmount() }}</span>
          </td>
          <td>
            <span contenteditable="false">{{ getTotalValue() }}</span>
          </td>
        </tr>
        </tbody>
      </table>
      <!--Table-->
    </div>
  </div>
</mdb-card>
</div>
</div>
</div>


<!-- Editable table -->


<button type="button" mdbBtn color="default" class="relative waves-light" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="frame.show()" mdbWavesEffect>Launch Modal
</button>
<div appendTo="body" mdbModal #frame="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="address-card" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form3" class="form-control" [formControl]="modalName"
                 mdbInput mdbValidate>
          <label for="form3">Your name</label>
          <mdb-error
            *ngIf="modalName.invalid && (modalName.dirty || modalName.touched)">
            Input invalid
          </mdb-error>
        </div>

        <div class="md-form mb-5">
          <mdb-icon fas icon="rupee-sign" class="prefix grey-text"></mdb-icon>
          <input type="number" id="form2" class="form-control" [formControl]="modalInvested"
                 mdbInput mdbValidate>
          <label for="form2">Invested Amount</label>
          <mdb-error
            *ngIf="modalInvested.invalid && (modalInvested.dirty || modalInvested.touched)">
            Input invalid
          </mdb-error>
        </div>

         <div class="md-form mb-5">
          <mdb-icon fas icon="rupee-sign" class="prefix grey-text"></mdb-icon>
          <input type="number" id="form1" class="form-control" [formControl]="modalValue"
                 mdbInput mdbValidate>
          <label for="form1">Total Value</label>
          <mdb-error
            *ngIf="modalValue.invalid && (modalValue.dirty || modalValue.touched)">
            Input invalid
          </mdb-error>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center" *ngIf="!editMode">
        <button mdbBtn color="indigo" class="waves-light" (click)="addData()" [disabled]="modalValue.invalid || modalInvested.invalid || modalName.invalid" mdbWavesEffect>Add
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
      </div>

      <div class="modal-footer d-flex justify-content-center" *ngIf="editMode">
        <button mdbBtn color="indigo" class="waves-light" (click)="updateData()" [disabled]="modalValue.invalid || modalInvested.invalid || modalName.invalid" mdbWavesEffect>Edit
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
      </div>
    </div>
  </div>

</div>
